# Ignore * :
/downloader
/errors
/includes
/js
/lib
/media
/pkginfo
/shell
/var
/.gitignore
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt

# Ignore * in app :
/app/code
/app/design/adminhtml
app/design/frontend/base
app/design/frontend/default
app/design/frontend/rwd
/app/design/install
/app/etc
/app/locale
/app/.htaccess
/app/Mage.php

# Ignore * in skin :
/skin/adminhtml
/skin/frontend/base
/skin/frontend/default
/skin/frontend/rwd
/skin/install